* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
}

.title img {
    width: 150px;
    height: 150px;
}

.title h1 {
    font-size: 30px;
    color: #15c590;
}