* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.title img {
    width: 150px;
    height: 150px;
}

.title h1 {
    font-size: 30px;
    color: #10c790;
    margin-bottom: 10px;
}

.title small {
    font-size: 16px;
}

.calculator {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select {
    width: 70px;
    height: 35px;
    background: transparent;
    border-color: #cccccc;
    border-radius: 1px;
    font-size: 16px;
    padding: 3px;
    margin-right: 5px;
}

.input {
    width: 260px;
    height: 35px;
    background: transparent;
    border: 1px solid #cccccc;
    font-size: 18px;
    padding: 5px;
    outline: 0;
}

.before {
    position: relative;
}

.up-down {
    position: absolute;
    right: -20px;
    width: 15px;
    height: 15px;
    font-size: 15px;
    opacity: 0;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
}

.up {
    top: 1px;
} 
.down {
    bottom: 1px;
}

.input-icon:hover > .up-down {
    opacity: 1;
}

.up-down:hover {
    background: #bbbbbb;
}

.rate {
    margin: 30px 0;
    width: 82%;

}

.swap-btn {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #888888;
    color: #fff;
    background: #10c790;
    cursor: pointer;
    outline: 0;
}

.swap-btn:active {
    box-shadow: 1px 1px 10px #666;
}

.calculate-rate {
    line-height: 30px;
    color: #10c790;
    font-weight: 550;
    float: right;
}
