:root { 
    --plus-color: #0cd316; 
    --minus-color: #d41d1d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    outline: 0;
}

body {
    background: #f4f4f4;
    min-height: 100vh;
}

#container {
    margin: 150px auto;
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 28px;
}

h3 {
    text-align: left;
    padding: 5px 0;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
    font-weight: bold;
}

#history h3 {
    margin-bottom: 0;
}

#cash {
    margin: 40px 0;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}

.total-cash {
    font-size: 36px;
    font-weight: bold;
}

.inout-cash {
    width: 100%;
    padding: 20px 10px;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    box-shadow: 0 2px 1px 1px #cccccc;
}

.inout-cash > p {
    position: relative;
    text-align: center;
    line-height: 1.4;
}

.inout-cash p:first-child::after {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    background: #cccccc;
    right: -100%;
    top: 0;
}

.income {
    color: var(--plus-color);
}

.expense {
    color: var(--minus-color);
}

#transaction {
    text-align: left;
}

#transaction input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

.history-area {
    padding: 10px 0;
}

.history {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 10px;
    font-size: 16px;
    background: #ffffff;
    box-shadow: 2px 2px 2px #cccccc;
    margin: 10px 0;
}

.history button {
    position: absolute;
    text-align: center;
    line-height: 25px;
    left: -20px;
    width: 20px;
    height: 25px;
    border: none;
    background: #fa8383;
    color: #ffffff;
    font-size: 16px;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: all 0.2s;
}

.history:hover button {
    opacity: 1;
    visibility: visible;
}

.history::after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 6px;
    height: 100%;
}

.history.plus::after {
    background: var(--plus-color);
}

.history.minus::after {
    background: var(--minus-color);
}

.transaction-btn {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    background: #9e84e5;
    color: #ffffff;
    font-size: 18px;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 #8ecaec;
    cursor: pointer;
}


